# Web
fastapi
uvicorn
fastapi[standard]

# Database
sqlalchemy
psycopg2-binary
alembic

# Auth
supabase
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Utils
pydantic
pydantic[email]
python-dotenv
requests
boto3

# web scraping
beautifulsoup4
requests

# Database utilities
sqlalchemy-utils

# Image processing
pillow